<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>FOLLOW THE BELLOW RULLS</h1>
        <h2>1.if you play 6hrs in the game you are age more than 18 then only if you play other wise only 3hrs</h2>
        <h2>2.terms and conditions follow in the game</h2>
        <h2>3.this is not in real time virtual time </h2>
        <a href="{% url 'app1:bgmi'%}"><h1>GO BACK IN BGMI</h1></a>
    </center>
</body>
</html>